extends layout
block content
    h3 General contact:
    p For all the general contact purposes, please send me an email: tamalanwaronline@gmail.com
    p You can also get in touch with me on social media. The links are on the sidebar.
    h3 Hiring me:
    p If you are looking to hire me to work on your blog, please follow the instructions on my Upwork profile
    h3 In Habiganj?
    p If you are in Habiganj and would like to meet me, just send me an email or message and we can arrange a meeting over some snacks.
