extends layout
block content
    p Hello and welcome to my official website. I am a freelance web designer, developer from Habiganj, Bangladesh. I specialize in building custom WordPress themes for bloggers.
    p I have worked as a freelance web developer for 10 years and have clients from all around the world including bloggers, internet marketers, small business owners, doctors and book authors.
    p My technical skills include: HTML, CSS, JavaScript, BootStrap; PHP, SQL, and WordPress. I have some digital marketing, content writing and SEO skills, but I keep that exclusive to my personal projects only.
    p When I am not working, I spend time improving my mind and body.
